*{
    margin: 0;
    padding: 0;
}
.form-register{
    width: 320px; 
    margin-top: 70px;
    background: #3e3d3d;
     padding: 40px 20px; 
     box-sizing: border-box; 
     position: fixed; 
     left: 50%; 
     top: 50%; 
     transform: 
     translate(-50%, -50%);}
       
     h1{
         text-align: center; 
         color: #fff; 
         font-weight: normal; 
         margin-bottom: 20px;
    }

.grup{

    padding: 10px;

}
input{
    
    background: none; 
    border: 2px solid #fff;
     border-radius: 3px; 
     padding: 6px 15px; 
     box-sizing: border-box; 
     margin-bottom: 20px; 
     font-size: 16px; 
     color: #fff;
    }
        
 input[type="button"]{ 
     background: white;
      border: 0; 
      cursor: pointer; 
      color: #3e3d3d;
    }
